
<header class="header">

    <div class="header-left">

        <div class="logo">

            👥

        </div>

        <div>

            <h4>Employee Management</h4>

            <small>Human Resource System</small>

        </div>

    </div>

    <!-- <div class="header-center">

        <input
            type="text"
            class="search-box"
            placeholder="🔍 Search employees..." />

    </div> -->

    <div class="header-right">

        <div class="user-info">

            <span class="welcome">

                Welcome,

            </span>

            <strong>Administrator</strong>

        </div>

        <button
            class="btn btn-danger"
            (click)="logout()">

            Logout

        </button>

    </div>

</header>

